body {
    margin: 0;
    font-family: Helvetica, serif;
    background: orange;
}
h1, h2, h3 {
    padding: 0;
    margin: 0;
    text-align: center;
}
h3 {
    color: grey;
}
hr {
    border-top: 1px solid whitesmoke;
    width: 90px;
}
.card {
    margin: .5em;
    border-radius: 2px;
    background: white;
    width: 250px;
    height: 350px;
    /* adding declarations for flex */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

img {
    border-radius: 120px;
    width: 120px;
}
i {
    color: grey;
}
.text-section {
    position: relative;
    bottom: 1.5em;
}
.icons i {
    font-size: 2.2em;
}

header, main {
    width: 80%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 1em;
    background: darkorange
}
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: flex-start;
    min-height: 100vh;
}